<div class='sidebar'>
  <div class='sidebar_item'>
    <a href='/' class='sidebar_home_item'><i class='icon-home'></i></a>
  </div>
  <div class='sidebar_item'>
    <a href='/notes/new' class='sidebar_new_item'><i class='icon-plus'></i></a>
  </div>
</div>
