body {
  font-family: 'Oxygen Mono', sans-serif;
  margin-left: 200px;
  width: 60%;
}

.user_dialog {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.note_summary_container {
  position: relative;
  padding-bottom: 10px;
}

.note_summary_title {
  font-weight: bold;
}

.delete_note {
  position: absolute;
  top: 0px;
  right: 3px;
  border: 1px solid black;
  padding: 0px 3px;
  font-size: 10px;
  cursor: pointer;
}

.new_note_button {
  margin-top: 10px;
  padding: 2px 8px;
  border: 1px solid black;
  text-decoration: none;
}

.editable_field {
  font-size: 20px;
  color: #424242;
  outline: 0px solid transparent;
}

.note_title_container {
  font-weight: bold;
  font-size: 150%;
  margin-top: 15px;
}

.note_content_container {
  margin-top: 20px;
  width: 870px;
  font-family: 'Oxygen Mono', sans-serif;
  font-size: 18px;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  outline: none;
}
